In [10]:
# Import the packages
import pandas as pd


# Load the data
survey = pd.read_csv("../Original Data/earthquake_data.csv")

# Display the data
# survey

# Modify the data
# 1) Get rid of invalid records
col_names = [name for name in survey.columns]
records_to_drop = []

for name in col_names:
    for idx in survey.index:
        cell = survey[name][idx]
        
        if pd.isna(cell):
            records_to_drop.append(idx)
            
survey_valid_data = survey.drop(index=records_to_drop)

# 2) Change the columns' names
col_map = {}

col_map[col_names[0]] = "General fear of earthquakes"
col_map[col_names[1]] = "Fear of the \"Big One\""
col_map[col_names[2]] = "Mind about the \"Big One\" occurring in interviewee\'s lifetime"
col_map[col_names[3]] = "Interviewee has experienced an earthquake"
col_map[col_names[4]] = "Interviewee\'s family has taken some precautions for an earthquake"
col_map[col_names[5]] = "Familiarity with the San Andreas Fault line"
col_map[col_names[6]] = "Familiarity with the Yellowstone Supervolcano"
col_map[col_names[7]] = "Age"
col_map[col_names[8]] = "Gender"
col_map[col_names[9]] = "Household income"
col_map[col_names[10]] = "US Region"

survey_modified_columns_names = survey_valid_data.rename(columns=col_map)
# survey_modified_columns_names

# 3) Create a table containing of the age, the gender
#    and the answer to the question "Do you think the "Big One" will occur in your lifetime?"
cols_to_drop = [name for name in col_names if name not in ("Age", "What is your gender?", "Do you think the \"Big One\" will occur in your lifetime?")]
table = survey_valid_data.drop(columns=cols_to_drop)
table

,"Do you think the ""Big One"" will occur in your lifetime?",Age,What is your gender?
0,No,18 - 29,Male
1,No,18 - 29,Male
2,No,18 - 29,Male
3,No,18 - 29,Male
4,Yes,18 - 29,Male
...,...,...,...
1007,No,60,Female
1008,No,60,Male
1009,No,60,Female
1010,No,30 - 44,Female
1011,No,30 - 44,Female